<% layout("/layouts/boilerplate.ejs") %>

    <div class="row">
        <svg xmlns="http://www.w3.org/2000/svg" class="d-none"></svg>
        <div class="alert alert-danger d-flex align-items-center offset-2 col-8 mt-3" role="alert">
            <div>
                <%= err %>
            </div>
        </div>
        </h4>
    </div>